html{
    background-color: deepskyblue;
}

.header{
    background-color: white;
    width: 100%;
}

.search-input{
    text-align: right;
    
}

.forecast-container{
    background-color: white;
    width: 90%;
    text-align: center;
}

.forecast-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100px;
    border: 1px solid black;
}

.emptiness{
    margin: 50px;
}